.bg-inicio {
    --background: url('/assets/grass-lens.jpg') center;
    background-color: #fffdf8;

}

.bg-color {
    --ion-text-color: #ffffff;
    --ion-background-color: url('/assets/flores.png') bottom ;
}


.ion-button {
    --background: #31680d;
    --color: #ffffff;
}

.text-center {
    text-align: center;
    font-family: Agency FB;
    font-size: 20px;
}

.h1 {
    text-align: center;
    font-family: Agency FB;
    font-size: 40px;
}

.logo-bot {
    width: 60px;
    height: 60px;
}
.logo-uaa {
    width: 150px;
    height: 60px;
}

.text-color {
    //font-weight: bold;
    color: white;
}